<%- include("partials/header"); -%>
<form method="POST" action="/gpa">
     <div>
          <%  subjects.forEach(function(subject){ %>
            <label for="Subject"><%=subject%> </label>
            <select name="subject" id="subjects">
              <option value=10>O</option>
              <option value=9>A+</option>
              <option value=8>A</option>
              <option value=7>B+</option>
              <option value=6>B</option>
              <option value=0 selected>RE</option>
            </select> <br>  
           <% }); %>
     </div>
     <button type="submit">Submit</button>
</form>
<%- include("partials/footer"); -%>
