<!DOCTYPE html>
<head>

</head>
<body>
    <form action="/" method="POST">
        <div>
            <%  departments.forEach(function(department){ %>
                <button type="submit" name="department" value="<%=department%>"><%=department%></button>        
                <% }) %>
        </div>
    </form>
</body>
</html>