<%- include("partials/header"); -%>
<div>
     <%  departments.forEach(function(department){ %>
          <button type="submit" name="department" value="<%=department%>"><%=department%></button>        
	 <% }) %>
</div>

<%- include("partials/footer"); -%>
