<%- include("partials/header"); -%>
<form method="POST" action="/">
     <div class = "row deptDiv">
		<div class = "col-sm-12">
          <%  departments.forEach(function(department){ %>
               <button type="submit" class="btn btn-lg btn-secondary dept" name="department" value="<%=department%>"><%=department%></button>        
           <% }) %>
		</div>
     </div>
</form>

<%- include("partials/footer"); -%>
