<%- include("partials/header"); -%>
<form method="POST" action="/sem">
     <div>
          <%  departments.forEach(function(department){ %>
               <button type="submit" name="department" value="<%=department%>"><%=department%></button>        
           <% }) %>
     </div>
</form>

<%- include("partials/footer"); -%>
