<!DOCTYPE html>
<head>

</head>
<body>
    <div>
        <%  departments.forEach(function(department){ %>
            <button type="button"><%=department%></button>        
            <% }) %>
    </div>
</body>
</html>