<%- include("partials/header"); -%>
<form action="/sem" method="POST">
    <div>
        <%  semester.forEach(function(sem){ %>
            <button type="submit" name = "sem" value="<%=sem%>"><%=sem%></button>        
        <% }); %>
</div>
</form>

<%- include("partials/footer"); -%>
