<%- include("partials/header"); -%>

<div>
	<button> SEMESTER 1 </button>
	<button> SEMESTER 2 </button>
	<button> SEMESTER 3 </button>
	<button> SEMESTER 4 </button>
	<button> SEMESTER 5 </button>
	<button> SEMESTER 6 </button>
	<button> SEMESTER 7 </button>
	<button> SEMESTER 8 </button>
</div>

<%- include("partials/footer"); -%>