<%- include("partials/header"); -%>
<form action="/sem" method="POST">
    <div class = "row semDiv">
		<div class = "col-sm-12">
			<%  for(let i=0;i<semester.length;i++){ %>
			    <% if(i === 4) { %>
				    <br />
				<% } %>
				<button type="submit" class="btn btn-lg btn-secondary sem" name = "sem" value="<%=i%>"><%=semester[i]%></button>        
			<% } %>
		</div>
</div>
</form>

<%- include("partials/footer"); -%>
