<%- include("partials/header"); -%>
<form action="/sem" method="POST">
    <div>
        <%  for(let i=0;i<semester.length;i++){ %>
            <button type="submit" name = "sem" value="<%=i%>"><%=semester[i]%></button>        
        <% } %>
</div>
</form>

<%- include("partials/footer"); -%>
