
/* Background  www.gradient-animator.com    */

body {
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    background-size: 1000% 1000%;
   -webkit-animation: AnimationName 5s ease infinite;
    animation: AnimationName 5s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:91% 0%}
    50%{background-position:10% 100%}
    100%{background-position:91% 0%}
}
@keyframes AnimationName {
    0%{background-position:91% 0%}
    50%{background-position:10% 100%}
    100%{background-position:91% 0%}
}
/* Buttons */

.dept, .sem {
    padding: 15px;
    border-radius: 20px;
    margin: 10px;
    border-color: ThreeDFace;
    color: blueviolet;
    position: relative;
}

/* Departments */

.deptDiv {
    margin-top: 22%;
    margin-left: 17%;
}

/* Department Buttons */
.dept {
    width: 80px;
    height: 70px;
}

/* Semester */

.semDiv {
    margin-top: 16%;
    margin-left: 18%;
}

/* Semester Buttons*/

.sem {
    width: 150px;
    height: 110px;
}

/* GPA */

.gpaDiv {
    margin: 30px;
    margin-left: 175px;
    padding: 10px;
}

/* GPA Dropdown List*/

.sub {
    color: #fff;
    font-family: 'Lora', serif;
    font-size: 1.8rem;
    width: 600px;
    height: 40px;
    text-align: center;
}

/* Calculate Button */

.subBtn {
    margin-left: 420px;
    border-color: ThreeDShadow;
    height: 60px;
    width: 240px;
}

/* GPA Result */

.gpaLabel {
    font-family: 'Lora', serif;
    font-size: 2.7rem;
    font-weight: bolder;
    padding-left: 80px;
    color: #fff;
}
